/* основной фон #FFFFFF
вторичный фон #F5F4FA
фон героя и футера #2F303A
синий акцент #2196F3
черный текст лого #000000
черный текст основной #212121
черный текст вторичный (серые шапка и абзацы) #757575
белый текст основной #FFFFFF
белый текст подвал rgba(255, 255, 255, 0.6) */

:root {
  --primary-black-color: #212121;
  --secondary-black-color: #757575;
  --primary-white-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --hero-and-footer-background-color: #2f303a;
  --accent-color: #2196f3;
}

* {
  margin: 0;
  padding: 0;
}

/* body */
body {
  background-color: var(--primary-white-color);
  color: var(--primary-black-color);
}

/* ul */
.list {
  list-style: none;
}

/* a */
.link {
  text-decoration: none;
}

/* site-nav */
.site-nav .link {
  color: var(--primary-black-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

/* header and footer logo */
.site-nav > .link {
  color: var(--accent-color);
}
.site-nav.link.current {
  color: var(--accent-color);
}
.header-logo {
  color: #000000;
}
/* footer logo */
.footer-logo {
  color: var(--primary-white-color);
}

/* header-address list */
.header-address .link {
  color: var(--secondary-black-color);
}
.header-address .link:hover,
.header-address .link:focus {
  color: var(--accent-color);
}

/* hero. background is temporarily set */
.hero {
  background-color: var(--hero-and-footer-background-color);
}
.hero-title {
  color: var(--primary-white-color);
}

/* section paragraph */
.our-features-paragraph {
  color: var(--secondary-black-color);
}

/* footer. footer background is temporarily set */
footer {
  background-color: var(--hero-and-footer-background-color);
}
.footer .footer.link {
  color: var(--accent-color);
}
.footer-address-street .footer-address.link {
  color: var(--primary-white-color);
}
.footer-address.link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-address.link:hover {
  color: var(--accent-color);
}

/* button */
.button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
}
/* visually hidden */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
